:root[data-theme="dark"] {
  /* COLOR */
  --light-accent-accent-base: rgb(22, 158, 235);
  --light-accent-accent-light: rgb(97, 174, 217);
  --light-neutral-black: rgb(9, 0, 3);
  --light-neutral-n-1: rgb(237, 234, 235);
  --light-neutral-n-2: rgb(183, 183, 183);
  --light-neutral-n-3: rgb(111, 110, 110);
  --light-neutral-n-4: rgb(62, 62, 62);
  --light-neutral-white: rgb(254, 254, 254);
  --light-primary-primary-base: rgb(235, 22, 86);
  --light-primary-primary-light: rgb(231, 57, 118);
}
