.u-text-uppercase {
    text-transform: uppercase !important;
}

.u-text-underline {
    text-decoration: underline !important;
}

.u-text-bold {
    font-weight: bold !important;
}

.u-text-italic {
    font-style: italic !important;
}

.u-text-title {
    @include font-size(48);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-text-label {
    @include font-size(32);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-text-menu_items {
    @include font-size(22);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-text-body_medium {
    @include font-size(16);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-text-button {
    @include font-size(16);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-text-sidebar_title {
    @include font-size(32);
    font-weight: 500;
    color: var(--light-neutral-n-4);
}

.u-avatar-little {
    width: 32px;
    height: 32px;
}