.u-text-uppercase {
    text-transform: uppercase !important;
}

.u-text-underline {
    text-decoration: underline !important;
}

.u-text-bold {
    font-weight: bold !important;
}

.u-text-italic {
    font-style: italic !important;
}